<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-8">
                        <hr>
                        <div class="row">
                            <div class="col-3">
                                <div class="p-4" [ngStyle]="{'background-color' :divBackColor}">
                                    Div 23
                                </div>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" [(ngModel)]="divBackColor">
                            </div>
                            <div class="col-3">
                                <button class="btn" (click)="isActive = !isActive"
                                    [ngClass]="isActive == true ? 'btn-success' : 'btn-danger'">Status</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-3">
                                <input type="text" class="form-control" [(ngModel)]="divBackColor">
                            </div>
                            <div class="col-3" [ngStyle]="myCSS">
                                My CSS
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-3">
                                <div [class]="'p-4 ' + myClassName">
                                    Another Div
                                </div>
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" [(ngModel)]="myClassName">
                            </div>
                            <div class="col-3">
                                <button class="btn" (click)="isActive = !isActive"
                                    [ngClass]="isActive == true ? 'btn-success' : 'btn-danger'">Status</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-success"></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="p-4" [ngClass]="myClassName">
                            Div 1
                        </div>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" [(ngModel)]="myClassName">
                    </div>
                    <div class="col-3">
                        <button class="btn" (click)="isActive = !isActive"
                            [ngClass]="isActive == true ? 'btn-success' : 'btn-danger'">Status</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-3">
                        <p [ngClass]="productPrice > 500 ? 'text-danger' : 'text-primary'"> Price = $ {{productPrice}}
                        </p>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" [(ngModel)]="productPrice">
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-3">
        <div class="p-4" [ngClass]="myClassName">
            Div 1
        </div>
    </div>
    <div class="col-2">
        <input type="text" class="form-control" [(ngModel)]="myClassName">
    </div>
    <div class="col-3">
        <button class="btn" (click)="isActive = !isActive"
            [ngClass]="isActive == true ? 'btn-success' : 'btn-danger'">Status</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <p [ngClass]="productPrice > 500 ? 'text-danger' : 'text-primary'"> Price = $ {{productPrice}}</p>
    </div>
    <div class="col-2">
        <input type="text" class="form-control" [(ngModel)]="productPrice">
    </div>
</div> -->
<!-- <hr>
<div class="row">
    <div class="col-3">
        <div class="p-4" [ngStyle]="{'background-color' :divBackColor}">
            Div 23
        </div>
    </div>
    <div class="col-2">
        <input type="text" class="form-control" [(ngModel)]="divBackColor">
    </div>
    <div class="col-3">
        <button class="btn" (click)="isActive = !isActive"
            [ngClass]="isActive == true ? 'btn-success' : 'btn-danger'">Status</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <input type="text" class="form-control" [(ngModel)]="divBackColor">
    </div>
    <div class="col-3" [ngStyle]="myCSS">
        My CSS
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <div [class]="'p-4 ' + myClassName">
            Another Div
        </div>
    </div>
    <div class="col-2">
        <input type="text" class="form-control" [(ngModel)]="myClassName">
    </div>
    <div class="col-3">
        <button class="btn" (click)="isActive = !isActive"
            [ngClass]="isActive == true ? 'btn-success' : 'btn-danger'">Status</button>
    </div>
</div> -->