<div class="container py-4">
    <h4 class="mb-3">Batch Master</h4>
    <div class="row g-3">


        <div class="col-8">
            <div class="card shadow-sm">
                <div class="card-header bg-warning text-dark">
                    <h5 class="mb-0">Batch List</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Batch Name</th>
                                <th>Created Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of batchList(); track $index) {
                            <tr>
                                <!-- <th scope="row">{{ $index + 1 }}</th> -->
                                <td>{{ item.batchId }}</td>
                                <td>{{ item.batchName }}</td>
                                <!-- <td>{{ item.createdDate | date }}</td> -->
                                <td>{{ item.createdDate}}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary me-1"
                                        (click)="onEditBatch(item)">Edit</button>
                                    <button class="btn btn-sm btn-danger" (click)="onDeleteBatch(item.batchId)">Delete</button>
                                </td>
                            </tr>
                            }
                            <!-- <tr>
                                <td colspan="4" class="text-center text-muted">No records found.</td>
                            </tr> -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-4">
            <div class="card shadow-sm">
                <div class="card-header bg-warning text-dark">
                    <h5 class="mb-0">Create / Edit Batch</h5>
                    <!-- <h5 class="mb-0">{{ isEditMode ? 'Edit Batch' : 'Add Batch' }}</h5> -->
                </div>
                <div class="card-body">
                    <!-- <form #formData="ngForm" (ngSubmit)="saveBatch()"> -->
                    <form>
                        <div class="mb-3">
                            <!-- <label for="batchId" class="form-label">Batch ID</label> -->
                            <input id="batchId" [(ngModel)]="newBatchObj.batchId" type="hidden" class="form-control"
                                id="batchId" name="batchId">
                        </div>
                        <div class="mb-3">
                            <label for="batchName" class="form-label">Batch Name</label>
                            <input id="batchName" [(ngModel)]="newBatchObj.batchName" type="text" class="form-control"
                                name="batchName">
                        </div>
                        <!-- <div class="mb-3">
                            <label for="createdDate" class="form-label">Created Date</label>
                            <input id="createdDate" [(ngModel)]="newBatchObj.createdDate" type="date" class="form-control" name="createdDate">
                        </div> -->
                        <div class="d-flex gap-2">
                            @if (newBatchObj.batchId ==0) {
                            <button type="submit" (click)="onSaveBatch()" class="btn btn-success">Save</button>
                            } @else {
                            <button type="submit" (click)="onUpdateBatch()" class="btn btn-warning">Update</button>
                            }
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>