<p class="fw-bold">SIGNAL FORM Experimental in V21</p>
<hr>
<form id="signalForm">
    <h2>Sign In</h2>
    <hr>
    <div class="row">
        <div class="col-3">
            <label for="email" class="fw-bold">Email:&nbsp;</label>
            <input type="email" id="email" [formField]="loginForm.email" placeholder="Enter your email">
        </div>
        <br>
        <div>
            <!-- Conditional Validation Error Display
        @if (loginForm.email().dirty() && loginForm.email().invalid()) {
        <small class="error-text">{{ loginForm.email().errors() }}</small>
        } -->

            @for (item of loginForm.email().errors(); track $index) {
            <span class="text-danger">(Error: {{item.message}} )</span>
            }
        </div>
        <div class="col-3">
            <br>
            <label for="email" class="fw-bold">Password:&nbsp;</label>
            <input type="password" id="password" [formField]="loginForm.password" placeholder="Enter your password">
        </div>
        <br>
        <div>
            <!-- Conditional Validation Error Display
        @if (loginForm.password().dirty() && loginForm.password().invalid()) {
        <small class="error-text">{{ loginForm.password().errors() }}</small>
        } -->

            @for (item of loginForm.password().errors(); track $index) {
            <span class="text-danger">(Error: {{item.message}} )</span>
            }
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <button id="loginButton" type="submit" class="btn btn-success">LOGIN</button>&nbsp;&nbsp; 
            <button id="cancelButton" type="button" class="btn btn-warning">CANCEL</button>
        </div>
    </div>
    <br>
</form>
<div class="row">
    <div class="col-4">
        <h3>Current Value:</h3>
        JSON: {{loginForm().value() | json}}
    </div>
</div>


<script type="JavaScript">
  function onLogin() {
    alert("The JavaScript function worked!");
  }

  function reloadForm() {
    location.reload();
  }
</script>